[submodule "polybar"]
	path = pkgs/polybar
	url = https://aur.archlinux.org/polybar.git
	ignore = all
[submodule "cower"]
	path = pkgs/cower
	url = https://aur.archlinux.org/cower.git
	ignore = all
[submodule "pacaur"]
	path = pkgs/pacaur
	url = https://aur.archlinux.org/pacaur.git
	ignore = all
[submodule "termsyn-font"]
	path = pkgs/termsyn-font
	url = https://aur.archlinux.org/termsyn-font.git
[submodule "ttf-material-design-icons"]
	path = pkgs/ttf-material-design-icons
	url = https://aur.archlinux.org/ttf-material-design-icons.git
[submodule "ttf-unifont"]
	path = pkgs/ttf-unifont
	url = https://aur.archlinux.org/ttf-unifont.git
[submodule "ttf-font-awesome-4"]
	path = pkgs/ttf-font-awesome-4
	url = https://aur.archlinux.org/ttf-font-awesome-4.git
[submodule "pkgs/pxz-git"]
	path = pkgs/pxz-git
	url = https://aur.archlinux.org/pxz-git.git
[submodule "pkgs/python35"]
	path = pkgs/python35
	url = https://aur.archlinux.org/python35.git
[submodule "pkgs/touchegg"]
	path = pkgs/touchegg
	url = https://aur.archlinux.org/touchegg.git
[submodule "pkgs/libreswan"]
	path = pkgs/libreswan
	url = https://aur.archlinux.org/libreswan.git
[submodule "geis"]
	path = pkgs/geis
	url = https://aur.archlinux.org/geis.git
[submodule "pkgs/grail"]
	path = pkgs/grail
	url = https://aur.archlinux.org/grail.git
[submodule "pkgs/frame"]
	path = pkgs/frame
	url = https://aur.archlinux.org/frame.git
[submodule "pkgs/zoom"]
	path = pkgs/zoom
	url = https://aur.archlinux.org/zoom.git
[submodule "pkgs/keybase-bin"]
	path = pkgs/keybase-bin
	url = https://aur.archlinux.org/keybase-bin.git
[submodule "pkgs/signal-desktop-bin"]
	path = pkgs/signal-desktop-bin
	url = https://aur.archlinux.org/signal-desktop-bin.git
